
<div class="container">
  <br>  <h2 class="text-center">My secret recipe</h2>
  <hr>


  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div><img width="100%" height="100%" float-center src="https://i.imgur.com/TlkzJcv.png"></div>
          </div> 
        </article> 
      </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h3 class="title mb-3">Chicken Noodles</h3>

          <dl class="item-property">
            <dt>Description</dt>
            <dd>
              <p>
                Chicken noodles is one of my favourite and go-to recipes when i have to prepare a quick meal.
                This one-pan dish is hassle free and extremely economical - great for students who hate doing the dishes.

              </p>
            </dd>
          </dl>
          <dl class="param param-feature">
            <dt>Preparation time</dt>
            <dd>30 minutes</dd>
          </dl>  
          <dl class="param param-feature">
            <dt>Ingredients</dt>
            <dd><li>Chicken breast</li></dd>
            <dd><li>Chinese noodles</li></dd>
            <dd><li>Soy sauce</li></dd>
          </dl>  
          <dl class="item-property">
            <dt>Steps</dt>
            <dd>
              <p>
                Apply soy sauce to the chicken breast.Leave to marinate for at least 8 hours.
              </p>
              <p>
                Place the marinated chicken for 35-40 minutes in the oven. Add water in a pot and wait for it to start boiling.
              </p>
              <p>
                After the water boils, pour the noodles into the pan and let it sit there for 5 minutes.
              </p>
              <p>
                Drain the noodles and place them into a frying pan alongside the chicken and pour some more soy sauce. Mix.
              </p>
              <p>
                Enjoy!
              </p>
            </dd>
          </dl>

          <hr>

        </article> 
      </aside> 
    </div> 
  </div> 


</div>



