<div class="p-4">
  <div class="container">
    <h4>Hello {{user.firstName}}!</h4>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">My cookbook</h1>
          <p class="lead text-muted">Cooking is my passion. This website is entirely about my creations and experiences in the kitchen.</p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Homemade Pizza</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <image width="100%" height="100%" xlink:href="https://i.imgur.com/yEUOmAI.png" clip-path="url(#circleView)" />
              </svg>

              <div class="card-body">
                <p class="card-text">Do you have any interests in customizing your dish with wild ingredients? Home-made pizza is the way to go</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </div>
                  <small class="text-muted">&#11088;30 min</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="../" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Pork with potatoes</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <image width="100%" height="100%" xlink:href="https://i.imgur.com/fjA7boH.jpg" clip-path="url(#circleView)" />
                
              </svg>

              <div class="card-body">
                <p class="card-text">Just a cozy pork dish with unpeeled baked potatoes. Tastes so good it should be prohibited</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                  </div>
                  <small class="text-muted">&#11088;40 min</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Paella</title>
              <rect width="100%" height="100%" fill="#55595c" />
                <image width="100%" height="100%" xlink:href="https://i.imgur.com/8EsWMJV.jpg" clip-path="url(#circleView)"/>
              </svg>

              <div class="card-body">
                <p class="card-text">Missing the cold breeze on the spanish coast? This paella recipe is everything you can wish for!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                  </div>
                  <small class="text-muted">&#11088; 55min</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
